.login{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* justify-content: center; */
  }

  .update_btn button {
    margin: 1em 0;
    border: none;
    box-shadow: 0 5px 15px 0 rgba(3, 104, 12, 0.6);
    background: linear-gradient(
      90deg,
      rgba(222, 230, 179, 0.637) 21%,
      rgba(228, 130, 106, 0.527) 100%
    ); 
    color: rgb(9, 24, 8);
  }
  
  