.input {
  margin: 1.5em 0;
}

.input label {
  position: relative;
  font-size: 1rem;
}

.input input {
  box-shadow: 0 5px 15px rgb(33, 125, 161);
  background-color: var(--light-pink);
  padding: 0.35em;
  border-radius: 5px;
  width: 370px;
  outline: none;
  font-size: 1.5rem;
  border: 2px solid transparent;
}

.input span{
    position: absolute;
    top:-50%;
    left:12px;
    transform: translate(0, 50%);
    color: var(--green);
    transition: all .3s ease;
    font-size:1rem;
}

.input input:not(:placeholder-shown) +span{
    color: transparent;
    transform: translate3d(0, -6px, 0) scale(0.75);
}

.input input:focus{
    border: 2px solid rgba(229, 155, 252, 0.685);
}
.input input:focus + span{
    top: -30px;
    font-size: 20px;
    background-color: rgba(169, 242, 176, 0.773546918767507);
    border-radius: 4px;
    padding: 0 5px;
    color: rgb(185, 26, 224)
}

.input .input_icon{
    color: var(--gray);
    position: absolute;
    top:50%;
    left: 0;
    transform: translate(92%, -50%);
    width: 10%;
    cursor: pointer;
}