.wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  /* wrapper la phan duoc bao boc  */
}

header {
  background-color: var(--light-pink);
}

.navbar {
  /* flex làm cho mỗi bố cục như một các thẻ div nằm trên một hàng */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px 5px 15px;
  background-color: var(--light-pink);
}

.navbar__logo {
  display: flex;
  align-items: center;
}

.navbar__logo img {
  width: 63px;
}
.navbar__logo p {
  font-family: "Red Hat Display", serif;
  font-size: 1.125rem;
  text-transform: uppercase;
  color: var(--green);
  margin-left: 14px;
}

/* menu */
.navbar__links {
  transform: translateX(0);
  opacity: 1;
  background-color: var(--light-pink);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar__link {
  font-size: 1.125rem;
  margin: 55px;
  list-style: none;
}

.navbar__link a {
  font-family: "Domine", serif;
  color: var(--green);
  text-decoration: none;
  text-transform: capitalize;
  transition: var(--smooth);
  padding-left: 10px;
}

.navbar__link a:hover {
  color: var(--orange);
  transition: var(--smooth);
}

.navbar__btn {
  font-size: 1.125rem;
  margin-left: 35px;
  border: 2px solid var(--pink);
}


.avatar{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  background-color: rgb(182, 182, 39);
  /* position: relative; */
  
}

.avatar img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  position: absolute;
  margin-left: 200px;
  margin-top: -10px;
}


/* li h2 {
  font-family: "Domine", serif;
  color: var(--green);
  text-decoration: none;
  text-transform: capitalize;
  transition: var(--smooth);
  padding-left: 10px;
} */

/* =========Dropdown======== */
.dropdown{
  position: absolute;
  background-color: rgba(140, 223, 238, 0.333);
  width: 40%;
  top: 60%;
  left: 50%;
  display: none;
  z-index: -1;
}

.avatar:hover .dropdown{
  display: block;
  transition: var(--smooth);
}

.cart-icon{
  position: relative;
}
.cart-icon span{
  background: crimson;
  color: white;
  border-radius: 50px;
  position: absolute;
  top: -10px;
  right: -15px;
  padding: 5px 7px;
  font-size: 10px;
  font-family: "Red Hat Display", serif;
}
.cart-icon .fa-cart-shopping{
  color: var(--green);
}
.cart-icon .fa-cart-shopping:hover {
  color: var(--orange);
  transition: var(--smooth);
}