.products{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
    display: flex;
    justify-content: center;
    margin: 20px 0;
 }

/* --------------------Product Item--------------------------- */
@import url("../utils/productItem/ProductItem.css");

.delete-all{
text-align: right;
margin: 20px;
}
.delete-all input{
    height: 30px;
    width: 30px;
    transform: translateY(7px);
    margin: 0 15px;
}
.delete-all span{
    text-transform: uppercase;
    color: rgb(79, 122, 239);
    letter-spacing: 1.3px;
    font-weight: bold;
}
.delete-all button{
   border: 1px solid crimson;
   padding: 10px 25px;
   color: crimson;
   text-transform: uppercase;
}

/* --------------------Filter Menu--------------------------- */
.filter_menu{
    width: 100%;
    min-height: 40px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(133, 160, 198);
    flex-wrap: wrap;
}
.filter_menu section, input{
    border: 1px solid rgb(51, 46, 197);
    outline: none;
    height: 40px;
    padding: 0 5px;
}
.filter_menu input{
    flex: 1;
    margin : 10px;
}
.filter_menu span{
        text-transform: uppercase;
        color: rgb(157, 9, 249);
        letter-spacing: 1.3px;
        font-weight: bold;
}
.filter_menu option{
     text-transform: capitalize;
        color: rgb(99, 55, 96);
        letter-spacing: 1.3px;
        font-weight: bold;
}

/* --------------------LoadMore--------------------------- */
.load_more{
    text-align : center;
}