.products{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
    display: flex;
    justify-content: center;
    margin: 20px 0;
 }

/* --------------------Product Item--------------------------- */
@import url("../utils/productItem/ProductItem.css");

.delete-all{
text-align: right;
margin: 20px;
}
.delete-all input{
    height: 30px;
    width: 30px;
    transform: translateY(7px);
    margin: 0 15px;
}
.delete-all span{
    text-transform: uppercase;
    color: rgb(79, 122, 239);
    letter-spacing: 1.3px;
    font-weight: bold;
}
.delete-all button{
   border: 1px solid crimson;
   padding: 10px 25px;
   color: crimson;
   text-transform: uppercase;
}