.product_card{
    max-width:300px;
    overflow: hidden;
    height: 500px;
    padding: 15px;
    box-shadow: 0 0 15px rgba(152, 196, 207, 0.856);
    margin: 10px 10px;
    /* position: relative; */
    background: rgba(250, 250, 250, 0.767);
}

.product_card img{
    width: 100%;
    height: 300px;
    display: block;
    object-fit: cover;
}

.product_box h2{
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-transform: capitalize;
    color: rgb(45, 80, 146);
}
.product_card span{
    color: crimson;
}
.product_box p{
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    color: rgb(87, 81, 70);
    height: 70px;
    overflow: hidden;
}

.row_btn{
    width: 100%;
    /* margin-top: 10px; */
    display: flex;
    justify-content:space-between;
}
.row_btn a{
    width: 50%;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
}
#btn_buy{
    background:rgb(72, 80, 150);
    margin-right: 10px;
    border-radius: 3px;
}
#btn_view{
    background:rgb(224, 176, 218);
    margin-right: 10px;
    border-radius: 3px;
    color: rgb(20, 62, 104);
}
.product_card input{
    position: absolute;
    width: 25px;
    height: 25px;
}